<%= form_for(@address, url: {action: action}, html: {class: 'form-horizontal'}) do |f| %>

  <%= f.hidden_field :postal_code %>

  <div class="form-group">
    <%= f.label :prefectural, class: 'label-form col-xs-2' %>
    <div class='col-xs-3'>
      <%= select_tag(:prefectural, options_from_collection_for_select(Prefectural.all, :name, :name, @address.prefectural), include_blank: true, class: 'form-control') %>
    </div>
    <%= render 'addresses/forms/form_extend', address: @address if action == 'update' %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: 'label-form col-xs-2' %>
    <div class='col-xs-10'>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street, class: 'label-form col-xs-2' %>
    <div class='col-xs-10'>
      <%= f.text_field :street, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :building, class: 'label-form col-xs-2' %>
    <div class='col-xs-10'>
      <%= f.text_field :building, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-xs-offset-2 col-xs-10'>
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>

<% end %>