<div class="panel panel-primary devise-bs">
  <div class="panel-heading">
  <h2 class="panel-title">一般ユーザーの登録 new</h2>
  </div>
    <div class="panel-body">
     <div class="row" id="user_new">
      <div class="col-sm-offset-4 col-sm-4">   
      <%= form_for(@user, url: {action: :create}) do |f| %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name,  class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email,  class: "form-control" %>
      </div>
      
      <%= fields_for(@profile) do |profile| %>
        <%= profile.hidden_field :user_id %>

        <%= profile.label :sutuff_code %><br />
        <%= profile.text_field :stuff_code,  class: "form-control" %>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",  class: "form-control" %>
      </div>

      <div class="field">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "POST" %>
      </div>
     <% end %>
    </div>
   </div>
  </div>
</div>
<%#= render "devise/shared/links" %>