<h1>ユーザー情報</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.label :ユーザー名 %>
  <%= f.text_field :name %>
   <%= fields_for(resource_simei) do |other| %>
    <%= other.label :姓 %>
    <%= other.text_field :name_sei %>
     <%= other.label :名 %>
    <%= other.text_field :name_mei %>
   <% end %>
  <%= f.submit "送信する" %>
<% end %>
